* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#canvas-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#canvas-container div {
    position: relative;
    width: 50%;
    height: 100vh;
}

#canvas-container div canvas {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    border-left: 5px solid black;
}
#canvas-background {
    display: none;
}


body.menu-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-menu-conteiner{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px black solid;
    background-image: url(background.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#main-menu {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#play-button{
    width: 200px;
    height: 50px;
    border: 1px black solid;
    font-size: xx-large;
    border-radius: 10px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

#title{
    font-size: 80px;
    color: black;
}

