* {
    margin: 0px;
    padding: 0px;
}

body{

}

#canvas-container {
    position: relative;
}

#canvas-container canvas {
    border: 1px green;
    /* position: absolute;
    top: 0px;
    left: 0px; */
}

#canvas-background {
    display: none;
}