* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#canvas-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#canvas-container div {
    position: relative;
    width: 50%;
    height: 100vh;
}

#canvas-container div canvas {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    border-left: 5px solid black;
}
#canvas-background {
    display: none;
}

